#7_3 { 
	overflow:hidden;
}#e7_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:10000px;
	position:absolute;
}#e7_2 { 
	color:rgba(0, 0, 0, 1);
	width:737px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e7_7 { 
	color:rgba(0, 0, 0, 1);
	width:469px;
	height:36px;
	position:absolute;
	left:0px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e7_9 { 
	color:rgba(0, 0, 0, 1);
	width:197px;
	height:39px;
	position:absolute;
	left:0px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e7_17 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:39px;
	position:absolute;
	left:1514px;
	top:608px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#7_35 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e7_35 { 
	width:1602px;
	height:898px;
	position:absolute;
	left:159px;
	top:250px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/43ynznf.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_53 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_53 { 
	width:1602px;
	height:898px;
	position:absolute;
	left:159px;
	top:1289px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/23bzxcb.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_55 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_55 { 
	width:1602px;
	height:898px;
	position:absolute;
	left:159px;
	top:2328px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/7jfds.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_57 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_57 { 
	width:1602px;
	height:898px;
	position:absolute;
	left:159px;
	top:3367px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/2bhbg.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_59 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_59 { 
	width:851px;
	height:918px;
	position:absolute;
	left:235px;
	top:5025px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/87g.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e10_61 { 
	color:rgba(0, 0, 0, 1);
	width:892px;
	height:39px;
	position:absolute;
	left:318px;
	top:1244px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_63 { 
	color:rgba(0, 0, 0, 1);
	width:956px;
	height:39px;
	position:absolute;
	left:256px;
	top:2289px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_71 { 
	color:rgba(0, 0, 0, 1);
	width:496px;
	height:39px;
	position:absolute;
	left:816px;
	top:2738px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_76 { 
	width:420px;
	height:66px;
	position:absolute;
	left:790px;
	top:184px;
	background-image:url(images/cxvtrb.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_79 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_79 { 
	width:384px;
	height:247px;
	position:absolute;
	left:1283px;
	top:2214px;
	border-top-left-radius:85px;
	border-top-right-radius:85px;
	border-bottom-left-radius:85px;
	border-bottom-right-radius:85px;
	background-image:url(images/1yhb.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e10_84 { 
	color:rgba(0, 0, 0, 1);
	width:522px;
	height:39px;
	position:absolute;
	left:699px;
	top:3367px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_85 { 
	color:rgba(0, 0, 0, 1);
	width:775px;
	height:39px;
	position:absolute;
	left:425px;
	top:4372px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_89 { 
	color:rgba(0, 0, 0, 1);
	width:934px;
	height:39px;
	position:absolute;
	left:425px;
	top:4497px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_102 { 
	color:rgba(0, 0, 0, 1);
	width:833px;
	height:39px;
	position:absolute;
	left:425px;
	top:4681px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_107 { 
	color:rgba(0, 0, 0, 1);
	width:833px;
	height:78px;
	position:absolute;
	left:378px;
	top:4947px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e11_109 { 
	color:rgba(0, 0, 0, 1);
	width:833px;
	height:39px;
	position:absolute;
	left:302px;
	top:5962px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_95 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:39px;
	position:absolute;
	left:1258px;
	top:4542px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e10_91 { 
	color:rgba(0, 0, 0, 1);
	width:998px;
	height:57px;
	position:absolute;
	left:425px;
	top:4624px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#10_87 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_87 { 
	width:390px;
	height:94px;
	position:absolute;
	left:1221px;
	top:4345px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/7sdb.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_93 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_93 { 
	width:409px;
	height:50px;
	position:absolute;
	left:1406px;
	top:4492px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/dvh54.png);
	background-repeat:no-repeat;
	background-size:cover;
}#11_116 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e11_116 { 
	width:384px;
	height:247px;
	position:absolute;
	left:1035px;
	top:5928px;
	border-top-left-radius:85px;
	border-top-right-radius:85px;
	border-bottom-left-radius:85px;
	border-bottom-right-radius:85px;
	background-image:url(images/75gx.png);
	background-repeat:no-repeat;
	background-size:cover;
}#10_105 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e10_105 { 
	width:957px;
	height:83px;
	position:absolute;
	left:375px;
	top:4745px;
	border-top-left-radius:85px;
	border-top-right-radius:85px;
	border-bottom-left-radius:85px;
	border-bottom-right-radius:85px;
	background-image:url(images/iwj65.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e10_82 { 
	width:547px;
	height:51px;
	position:absolute;
	left:686px;
	top:3304px;
	background-image:url(images/3brhj.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e11_118 { 
	color:rgba(0, 0, 0, 1);
	width:833px;
	height:38px;
	position:absolute;
	left:586px;
	top:6125px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e11_132 { 
	color:rgba(0, 0, 0, 1);
	width:694px;
	height:39px;
	position:absolute;
	left:614px;
	top:7886px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#e11_141 { 
	color:rgba(0, 0, 0, 1);
	width:576px;
	height:39px;
	position:absolute;
	left:230px;
	top:9238px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}#11_121 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e11_121 { 
	width:1109px;
	height:215px;
	position:absolute;
	left:433px;
	top:6266px;
	border-top-left-radius:85px;
	border-top-right-radius:85px;
	border-bottom-left-radius:85px;
	border-bottom-right-radius:85px;
	background-image:url(images/n253agv.png);
	background-repeat:no-repeat;
	background-size:cover;
}#11_124 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e11_124 { 
	width:1468px;
	height:884px;
	position:absolute;
	left:226px;
	top:6707px;
	border-top-left-radius:85px;
	border-top-right-radius:85px;
	border-bottom-left-radius:85px;
	border-bottom-right-radius:85px;
	background-image:url(images/j35ht.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e11_127 { 
	width:836px;
	height:56px;
	position:absolute;
	left:542px;
	top:7693px;
	background-image:url(images/q534haf.png);
	background-repeat:no-repeat;
	background-size:cover;
}#11_130 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e11_130 { 
	width:1028px;
	height:905px;
	position:absolute;
	left:446px;
	top:7947px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/argscv.png);
	background-repeat:no-repeat;
	background-size:cover;
}#11_137 { 
	border:5px solid rgba(0, 0, 0, 1);
}#e11_137 { 
	width:1028px;
	height:575px;
	position:absolute;
	left:877px;
	top:8984px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/asd.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e11_133 { 
	color:rgba(0, 0, 0, 1);
	width:354px;
	height:39px;
	position:absolute;
	left:497px;
	top:8895px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}